#gallery-bar {
    width: 30%;
    overflow-y: scroll;
    /*add a soft border*/
    height: 80vh;
    background-color: var(--main-color);
    padding:10px;
    //change the scrollbar
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius:10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #010101;
        border-radius:10px;
        border:1.5px solid white;
    }
    #gallery-container{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    @media (max-width:800px){
        display:none
    }
}