.camera{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:min-content;
    @media (max-width:800px){
        justify-content: flex-start;
    }
}