.camera{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:min-content;
    @media (max-width:800px){
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
}
#front-flashlight{
    display:none;
}
.flash-active{
    display: block!important;
    position:absolute;
    height:100vh;
    width:100vw;
    background-color:white;
    z-index:3;
}
.active-indicator{
    height:4px;
    width:4px;
    border-radius:4px;
    background-color:white;
}