#reziser {
    @media (min-width: 800px) {
        width: fit-content;
        height: fit-content;
        border: none;
        display: contents;
    }
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

#canvas {
    width: 220px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border:3.5px solid white;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    @media (max-width: 800px) {
        position: absolute;
        bottom: 177px;
        left: 20px;
        height: 60px;
        width: 62px;
        border: 3.5px solid white;
        margin: 20px 10px;
    }
}
.active {
    //center the canvas and make it bigger
    transform: scale(2.4) !important;
    left: 34.5vw !important;
    //center the element using left and bottom
    //the element needs to be in the exact center of the page
    //so we need to subtract half of the width and height
    //of the element
    bottom: 40vh !important;
    border: 1.9px solid white !important;
    margin: 0 !important;
    border-radius: 3px !important;
    position: absolute !important;
    @media (max-width: 800px) {
    transform: scale(5.5) !important;
    left: 43.5vw !important;
    bottom: 50vh !important;
    }
}
