#canvas {
    width: 220px;
    height: 180px;
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    @media (max-width: 800px) {
        position: absolute;
        bottom: 189px;
        right: 82vw;
        height:60px;
        width:62px;
        border: 3.5px solid white;
    }
}
