#controls {
    button {
        color: #ffffff;
        border-radius: 5px;
        background-color:rgb(3,3,3);
        margin-inline:5px;
        border:none;
        display:flex;
        flex-direction:column;
        justify-content:center;
        //add a 3d border effect with a soft shadow
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        align-items: center;
        //add a 3d keyboard effect to the button
        transform: perspective(1px) translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        &:hover {
            transform: scale(1.1);
        }
        .fas{
            font-size:17px;
        }
    }
    #snap-button{
        width:40px;
        height: 40px;
        border-radius:100px;
        border:3px solid rgb(109, 109, 109);
        background-color:#0f0f0f;
    }

    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 80px;
    outline:none;
    background-color:rgb(3, 3, 3);
    border-radius: 10px 10px 0px 0px;

    button:hover {
        filter: brightness(1.1);
        cursor: pointer;
    }
    @media (max-width:800px){
        z-index:1;
        //position it on the bottom
    }
}
