#controls {
    button {
        background-color:rgb(255, 255, 255);
        color: #0f0f0f;
        border-radius: 5px;
        padding:15px;
        margin-inline:5px;
        border:none;
        display:flex;
        flex-direction:column;
        justify-content:center;
        //add a 3d border effect with a soft shadow
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        align-items: center;
        //add a 3d keyboard effect to the button
        transform: perspective(1px) translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
        &:hover {
            transform: scale(1.1);
        }
        .fas{
            font-size:17px;
        }
    }

    display: flex;
    justify-content: space-around;
    height: 40px;
    outline:none;

    button:hover {
        filter: brightness(1.1);
        cursor: pointer;
    }
}
